body{
  background-image: url(images/main_back-export.png);
}
header{
  background-image: url(images/title_back.png);
  text-align: center;
  font-size: 40px;
  color:white;
  overflow: hidden;
  background-color: black;
}
h1{
  text-decoration: none;
  color: white;
}

.nav_bar{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  color: white;
  background-color: #000000;
  overflow: hidden;
  justify-items: center;
}

@media (max-width: 768px){
  .nav_buttons{
    font-size: 10px;
    color:white;
    text-decoration: none;
  }
}
@media (min-width: 769px){
  .nav_buttons{
    font-size: 24px;
    color:white;
    text-decoration: none;
  }
}

.game_button {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.game_button:: hover{
    transform: scale(1.02);
    filter: brightness(110%);
}
.all{
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
  overflow: hidden;
}

body{
  margin: 0;
}

.title{
  display:inline-block;
  justify-content: space-evenly;
}

.desc{
  text-align: center;
  font-size: 25px;
  color: black;
}
footer {
  margin-top: auto;
  margin-bottom: 0;
  background-color: white;
  margin-left: 0;
  overflow: hidden;
}
